version.py

.DS_Store
__pycache__/

example/lca.log
_version.py

test*.png

lca/tmp/
data/configs/
!data/configs/config.yaml

data/*
lca/configs/
lca/data/*
lca/visualisations/
!lca/configs/config_default.yaml

ui/node_modules

*.pickle
*.json
*.zip